<% provide(:title, 'All users') %>

<div class="users-background">
  <h1 class="users-title">All users</h1>
  <div class="users-paginate"><%= will_paginate %></div>
  <div class="users-background2">
    <ul class="users">
      <div class="users-profile"><%= render @users %></div>
    </ul>
  </div>
  <div class="users-paginate"><%= will_paginate %></div>
</div>