<% if @feed_items.any? %>
  <ol class="microposts">
    <div class="feed-background"><%= render @feed_items %></div>
  </ol>
  <div class="feed-paginate"><%= will_paginate @feed_items %></div>
<% end %>